body {
  margin: 0;
}

header,
main,
footer {
  background-color: #eee;
  margin-bottom: 1%;
  padding: 2%;
}

.box {
  width: 10%;
  aspect-ratio: 1/1;
  padding: 1%;
  margin: 0.3%;
  translate: 300% 130%;
  transform: skew(-30deg);
}

#container {
  position: relative;
  border: 3px purple dashed;
  width: 100%;
  aspect-ratio: 10/9;
}

/* SKRIV KUN KODE HERUNDER */

.redBox {
  background-color: #ff1d00;
  transform-origin: 0% 100%;
  position: absolute;
  rotate: 76deg;
}

.yellowBox {
  background-color: #ffeb00;
  position: absolute;
  transform-origin: 0% 100%;

  rotate: 148deg;
}

.pinkBox {
  background-color: #ff9ecf;

  transform-origin: 0% 100%;
  position: absolute;
  rotate: 220deg;
}

.greenBox {
  background-color: #1fd81f;

  transform-origin: 0% 100%;
  position: absolute;
  rotate: 292deg;
}

.blueBox {
  background-color: #0180fc;

  transform-origin: 0% 100%;
  position: absolute;
  rotate: 4deg;
}
